/* Product pictures */
* {
  font-family: 'Open Sans', sans-serif;
}

.container.images .row {
  height: 100% !important;
}

.container.images .row .pictures {
  margin: 1em auto;
  column-gap: 1em;
}

/* Masonry on large screens */
@media only screen and (min-width: 1024px) {
  .pictures {
    column-count: 4;
  }
}

/* Masonry on medium-sized screens */
@media only screen and (max-width: 1023px) and (min-width: 768px) {
  .pictures {
    column-count: 3;
  }
}

/* Masonry on small screens */
@media only screen and (max-width: 767px) and (min-width: 540px) {
  .pictures {
    column-count: 2;
  }
}

.container.images .row .pictures .perviewImage {
  margin-bottom: 10px;
}

.container.images .row .pictures img {
  width: 100%;
  cursor: pointer;
  padding: 4px;
  border: 1px solid #d5d5d5;
}

.container-fluid.about-product {
  background-color: #f5f5f5;
  padding: 0;
}

/* end product pictures */

/* Product description */
.container.images {
  padding: 60px 0;
  width: 100%;
}

.container.images .row {
  width: 100%;
  justify-content: center;
  margin: 0;
}

.container.images .row .col-md-6>h4 {
  color: #484848;
  font-size: 18px;
  font-weight: bold;
  font-family: 'Open Sans' !important;
  margin-bottom: 3px;
}

.container.images .row .col-md-4.about-product {
  position: relative;
  padding: 0 15px;
  justify-content: center;
  width: 100%;
  box-sizing: border-box;
}

.container.images .row .col-md-4.about-product>h4 {
  color: #919191;
}

.container.images .row .col-md-4.about-product>p.category-name {
  font-size: 14px;
  color: #838383;
  margin: 0;
}

.container.images .row .col-md-4.about-product .review {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin: 10px 0;
}

.container.images .row .col-md-4.about-product .review .stars {
  display: flex;
  align-items: center;
}

.container.images .row .col-md-4.about-product .review .stars .star {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  font-size: 11px !important;
}

.container.images .row .col-md-4.about-product .review .stars .star-5>i,
.container.images .row .col-md-4.about-product .review .stars .star-4>i:not(:last-child),
.container.images .row .col-md-4.about-product .review .stars .star-3>i:not(:nth-child(n+4)),
.container.images .row .col-md-4.about-product .review .stars .star-2>i:not(:nth-child(n+3)),
.container.images .row .col-md-4.about-product .review .stars .star-1>i:first-child>i {
  color: rgb(234, 120, 50);
  margin-right: 2px;
}

.container.images .row .col-md-4.about-product .review .stars .star-4>i:last-child,
.container.images .row .col-md-4.about-product .review .stars .star-3>i:nth-last-child(-n+2),
.container.images .row .col-md-4.about-product .review .stars .star-2>i:nth-last-child(-n+3),
.container.images .row .col-md-4.about-product .review .stars .star-1>i:nth-last-child(-n+4) {
  color: #838383;
}

.container.images .row .col-md-4.about-product .review .stars>p {
  font-size: 11px;
  color: #838383;
  margin: 0;
  padding-left: 3px;
}

.container.images .row .col-md-4.about-product .review .availability {
  font-size: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
}

.container.images .row .col-md-4.about-product .review .availability>span.badge {
  color: #fff;
  padding: 5px 15px;
  border-radius: 15px;
}

.container.images .row .col-md-4.about-product .review .availability>span.badge.notvalid {
  background-color: #f92400;
}

.container.images .row .col-md-4.about-product .review .availability>span.badge.valid {
  background-color: #59f018;
}

.container.images .row .col-md-4.about-product p.old-price {
  width: auto;
  font-size: 12px;
  margin: 0;
  color: #838383;
  position: relative;
  display: inline-block;
}

.container.images .row .col-md-4.about-product p.old-price:before {
  content: '';
  position: absolute;
  height: 2px;
  width: 100%;
  background-color: rgb(234, 120, 50);
  top: 45%;
  left: 0;
}

.container.images .row .col-md-4.about-product p.new-price {
  width: auto;
  color: rgb(234, 120, 50);
  margin: 0 0 20px;
  font-size: 1.5rem;
}

.container.images .row .col-md-4.about-product p.description {
  margin: 0;
  font-size: 13px;
  color: #838383;
  line-height: 20px;
}

.container.images .row .col-md-4.about-product p.sku {
  font-size: 12px;
  margin: 10px 0 20px;
  color: #838383;
  font-weight: 400;
}

.container.images .row .col-md-4.about-product p.sku>span {
  color: #484848;
  font-weight: bold;
}

.container.images .row .col-md-4.about-product .options .row {
  margin-bottom: 30px;
}

.container.images .row .col-md-4.about-product .options .row>div {
  padding: 0;
}

.container.images .row .col-md-4.about-product .options .row>div>select {
  border-radius: 30px;
  border: none;
  height: 46px;
  padding: 0 15px;
  margin-bottom: 20px;
  background-color: #f5f5f5;
  width: 100%;
  box-shadow: 0px 2px 3px 0px #d5d5d5;
  color: #838383;
}

.container.images .row .col-md-4.about-product .options .row>div>select:focus {
  outline: none;
}

.container.images .row .col-md-4.about-product .buttons {
  margin-bottom: 40px;
}

.container.images .row .col-md-4.about-product .buttons .add-to-cart {
  background-color: rgb(234, 120, 50) !important;
  color: white;
  padding: 10px 20px 10px 20px;
  border-radius: 30px;
  transition: all .3s ease-in-out;
}

.container.images .row .col-md-4.about-product .buttons .add-to-cart:hover {
  background-color: white !important;
  box-shadow: inset 0 0 0 2px rgba(234, 120, 50, 1) !important;
  color: #d5d5d5;
  padding: 10px 20px 10px 20px;
  border-radius: 30px;
}

.container.images .row .col-md-4.about-product .buttons .row .compare,
.container.images .row .col-md-4.about-product .buttons .row .wishlist {
  color: #d5d5d5;
  transition: all .3s ease-in-out;
  background-color: white;
  box-shadow: none !important;
  border: none;
  cursor: pointer;
}

.container.images .row .col-md-4.about-product .buttons .row .wishlist:focus {
  outline: none;
  border: none;
}

.container.images .row .col-md-4.about-product .buttons .row {
  justify-content: start;
  margin-top: 10px;
}

.container.images .row .col-md-4.about-product .buttons .row>a:last-child {
  margin-left: 40px;
}

.container.images .row .col-md-4.about-product .buttons .row .compare:hover,
.container.images .row .col-md-4.about-product .buttons .row .wishlist:hover {
  color: #838383;
  text-decoration: none;
}

.footer-social-icons.comment {
  width: 100%;
}

.footer-social-icons p {
  margin-right: 18px;
  font-weight: bold;
}

.footer-social-icons.comment a>i {
  margin-right: 15px;
}

.footer-social-icons.comment a:last-child>i {
  margin: 0;
}

/* end product description */

/* nav-tabs */
.nav.nav-tabs {
  width: 100%;
  justify-content: center;
  border-bottom: 3px solid #f5f5f5;
  background-color: #fff;
}

.nav.nav-tabs .nav-item>.nav-link {
  border-bottom: none;
  margin-left: 5px;
  padding: 12px 40px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  color: #838383;
  font-weight: bold;
}

.nav.nav-tabs .nav-item>.nav-link.active,
.nav.nav-tabs .nav-item>.nav-link:hover {
  border: 1px solid #f5f5f5;
  border-bottom: none;
  background-color: #f5f5f5;
  color: #484848;
}

.tab-content {
  border-top: 1px solid #f5f5f5;
}

.tab-content .tab-pane .container {
  width: 100%;
  padding: 30px 0;
}

@media (max-width: 1200px) {
  .tab-content .tab-pane .container {
    max-width: 100%;
    margin: 0;
    padding: 0;
  }

  .container.mightlike,
  .container.images {
    max-width: 100%;
    margin: 0;
  }
}

@media (max-width: 576px) {
  .nav.nav-tabs .nav-item>.nav-link {
    font-size: 12px;
    padding: 12px 10px;
  }
}

.tab-pane .container .row .col-md-6 h5 {
  color: #484848;
  font-size: 16px;
  font-weight: 400;
  margin: 20px 0;
}

.tab-pane .container .row .col {
  padding: 50px 20px;
}

.tab-pane .container .row .col * {
  background: transparent !important;
}

.tab-pane .container .row .col-md-6>.review-score {
  display: inline-flex;
}

.tab-pane .container .row .col-md-6>.review-score .scores {
  background-color: #fff;
  border-radius: 8px;
  width: 168px;
  padding: 30px 0;
  vertical-align: middle;
  display: inline-block;
  box-shadow: 0px 2px 3px 0px rgba(234, 234, 234, 1);
  margin-bottom: 20px;
}

.tab-pane .container .row .col-md-6>.review-score .scores>p {
  text-align: center;
  margin: 0;
}

.tab-pane .container .row .col-md-6>.review-score .scores>p.number {
  font-size: 30px;
  font-weight: bold;
  color: #484848;
}

.tab-pane .container .row .col-md-6>.review-score .scores>p.text {
  font-size: 15px;
  font-weight: 400;
  color: #838383;
}

.tab-pane .container .row .col-md-6>.review-score .stars {
  margin-top: 50px;
  margin-left: 15px;
  color: rgb(234, 120, 50);
  display: inline-flex;
}

.tab-pane .container .row .col-md-6>.review-score .stars>span>i {
  font-size: 15px !important;
}

.tab-pane .container .row .col-md-6>ul {
  list-style-type: none;
  padding: 0;
  width: 100%
}

.tab-pane .container .row .col-md-6>ul>li {
  position: relative;
  display: flex;
  width: 100%;
  margin-bottom: 10px;
}

.tab-pane .container .row .col-md-6>ul>li>span.stars {
  display: inline-flex;
}

.tab-pane .container .row .col-md-6>ul>li>span.stars>i {
  color: rgb(234, 120, 50);
  margin-right: 10px;
  font-size: 12px;
}

.tab-pane .container .row .col-md-6>ul>li>span.stars>i:last-child {
  margin-right: 0px;
}

.tab-pane .container .row .col-md-6>ul>li.star-4>span.stars>i:last-child {
  color: #838383;
}

.tab-pane .container .row .col-md-6>ul>li.star-3>span.stars>i:nth-last-child(-n+2) {
  color: #838383;
}

.tab-pane .container .row .col-md-6>ul>li.star-2>span.stars>i:nth-last-child(-n+3) {
  color: #838383;
}

.tab-pane .container .row .col-md-6>ul>li.star-1>span.stars>i:nth-last-child(-n+4) {
  color: #838383;
}

.tab-pane .container .row .col-md-6>ul>li>span.number-star {
  width: 100%;
  display: inline-flex;
  font-size: 13px;
  color: #838383;
  position: relative;
  margin-left: 25px;
  top: -3px;
}

.tab-pane .container .row .col-md-6>ul>li>span.number-star>.progress {
  width: 100%;
  margin-left: 15px !important;
  margin-top: 7px;
  height: 6px;
  background-color: #d6d6d6;
}

.tab-pane .container .row .col-md-6>ul>li>span.number-star>.progress>.progress-bar {
  background-color: #b2b2b2 !important;
  height: 100%;
}

.user-rating {
  display: inline-flex;
  font-size: 12px;
  color: #838383;
}

.user-rating .stars-rating {
  margin-left: 15px;
  color: #838383;
  direction: rtl;
}

.user-rating .stars-rating>span {
  margin-right: 5px;
  color: #838383;
  pointer-events: all;
}

.user-rating .stars-rating>span>i {
  margin: 0 3px;
  font-size: 15px;
}

.user-rating .stars-rating>span:hover>i,
.user-rating .stars-rating>span:hover~span>i {
  cursor: pointer;
  color: rgb(234, 120, 50);
}

.star-color>i {
  color: rgb(234, 120, 50) !important;
}

.user-comment {
  margin: 15px 0;
}

.wrapper-content-editabel {
  width: 100%;
  padding: 0px;
  box-shadow: 0px 2px 3px 0px #d5d5d5;
  border-radius: 15px;
  box-sizing: border-box;
}

.user-comment div .contenteditable,
.user-comment div .contenteditable:focus {
  width: 100%;
  border-radius: 15px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  border: none;
  padding: 10px 18px 10px 10px;
  color: #838383;
  outline: none;
  background-color: #fff;
  height: 200px;
  max-height: 200px;
  overflow-y: auto;
  font-size: 20px;
  resize: none;
}

.navbar-content-editable {
  width: 100%;
  border-radius: 15px;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  color: #838383;
  background-color: #fff;
  height: 40px;
  margin-top: -6px;
  z-index: 999;
}

.user-comment>button {
  margin-top: 10px;
  border-radius: 30px;
  padding: 13px 50px;
  background-color: rgb(234, 120, 50);
  color: white;
  font-weight: bold;
  transition: all .3s ease-in-out;
  font-family: 'Open Sans';
}

.user-comment>button:hover {
  background-color: white;
  color: #d5d5d5;
  font-weight: bold;
  box-shadow: inset 0 0 0 2px rgba(234, 120, 50, 1) !important;
}

.user-comment>button:focus {
  outline: none;
  box-shadow: none;
}

/*Comments  */

/* comments */
.blog-post-comments {
  margin: 30px 0;
  padding: 0 10px;
  width: 100%;
}

.blog-post-comments>h2 {
  font-weight: 500;
  font-size: 20px;
  color: #2d2d2d;
  margin-bottom: 18px;
}

.blog-comment {
  list-style: none;
  margin: 0;
  padding: 0;
}



/* end comments */

.one-sub,
.multy-sub {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.one-sub p {
  margin: 0;
  font-size: 12px !important;
}

.one-sub span,
.multy-sub span {
  margin-left: 5px;
  background-color: rgb(234, 120, 50);
  padding: 2px 15px;
  border-radius: 10px;
  font-size: 12px;
  color: #fff;
}

.multy-sub span {
  margin-bottom: 5px;
}

.multy p {
  margin: 0 !important;
  margin-bottom: 5px !important;
  margin-top: 5px !important;
}

.social-links label{
  cursor: pointer;
}

.social-links label:not(:first-child){
  margin-left: 10px;
}

.social-links label div:focus {
  outline: none;
}