input.invalid {
    border-color: #f92400 !important;
}

.invalidFeedback {
    display: none;
    width: 100%;
    margin-top: .25rem;
    font-size: 80%;
    color: #dc3545;
}

.invalid ~ .invalidFeedback {
    display: block;
}