.container.products{
    padding: 0;
}

.container.products .row {
    padding: 0;
    margin: 0;
}

@media (max-width: 1200px){
    .container.products{
      max-width: 100%;
      margin: 0;
      padding: 0;
    }
  }

.container.products .row .col-lg-3.col-md-4  {
    padding: 0;
    margin-bottom: 50px;
}

.dropdown-category-links, .dropdown-category-links:hover{
    width: 100% !important;
    display: inline-flex;
    padding: 15px 0;
    border-bottom: 1px solid #d5d5d5;
    cursor: pointer;
    margin: 0;
    font-size: 18px;
    position: relative;
}

span.dropdown-category-links,
span.dropdown-category-links:hover{
    padding: 0;
    border: none;
}

.category-search-list ul li .dropdown-category-links{
    font-size: 13px !important;
}

.dropdown-category-links i{
    position: absolute;
    right: 0;
    top: 35%;
    margin: auto 0;
    color: #484848;
    transition: all .3s ease-in-out;
}

.dropdown-category-links.down i{
    transform: rotate3d(0,0,1,-90deg);
}

.dropdown-category-links.down-sub i{
    transform: rotate3d(0,0,1,90deg);
}

.category-search-list > ul{
    list-style: none;
    padding-left: 10px;
    color: #838383;
    font-size: 12px;
    line-height: 24px;
}

.category-search-list > ul > li > span,
.category-search-list > ul > li > span:hover{
    color: #484848;
    border: none;
    left: 0;
    padding: 0;
    line-height: 30px !important;
}

.category-search-list ul li span i:first-child{
    color: #838383;
    text-align: start;
    width: auto;
    margin-right: 5px;
}

.category-search-list ul.cat-child li a{
    color: #838383;
    text-align: start;
    width: auto;
    text-decoration: none;
    margin-top: -5px;
}

.category-search-list ul.cat-child li a:hover{
    color: rgb(234, 120, 50);
}

.category-search-list ul li span i:last-child{
    color: #838383;
    text-align: start;
    width: auto;
    margin-left: 5px;
}

.category-search-list{
    max-width: auto;
    overflow: hidden;
    max-height: 200px !important;
}

.category-search-list.price{
    height: 77.8px;
    padding: 25px 20px;
}

.category-search-list.sub{
    max-width: auto;
    overflow: hidden;
    max-height: 300px !important;
}

.category-search-list.after{
    height: auto !important;
    max-width: auto;
    overflow: visible !important;
}

.color{
    color: rgb(234, 120, 50) !important;
}

.carousel-control-next.products, 
.carousel-control-prev.products{
    display: none !important;
    visibility: hidden;
    opacity: -999;
    z-index: -999;
}

.col-12.heading .row .col-12.col-sm-6 > h5{
    padding-bottom:10px;
    width:100%;
    font-family: 'BloggerSans', sans-serif;
    font-size: 20px;
    font-weight: 500;
}

.col-12.heading .row .col-12.col-sm-6 > p{
    text-align:end; 
    width:100%;
    color: #838383;
    font-size: 14px;
}

@media (max-width: 576px){
    .col-12.heading .row .col-12.col-sm-6 > p{
        text-align:start; 
    }
    .nav-search .col-12.col-sm-9.col-md-8.col-lg-9 {
        justify-content: flex-start !important;
        margin-bottom: 10px !important;
    }
    .col-12.col-sm-9.col-md-8.col-lg-9 > select:first-child{
        margin-right: 0px !important;
    }
    
}

.nav-search .row{
    border-bottom: 1px solid #d5d5d5 !important;
    border-top: 1px solid #d5d5d5 !important;
    margin: 0;
    padding: 0;
}

.nav.nav-tabs.products{
    border: none;
    padding: 15px 0;
    margin: 0;
    justify-content: unset;
}

.nav.nav-tabs.products .nav-item > .nav-link,
.nav.nav-tabs.products .nav-item > .nav-link.active, 
.nav.nav-tabs.products .nav-item > .nav-link:hover{
    border: none;
    background-color: transparent;
    padding: 0.5rem 1rem;
}

.nav.nav-tabs.products .nav-item > .nav-link{
    color: #e5e5e5;
    border: none;
    border-radius: 0;
}

.nav.nav-tabs.products .nav-item > .nav-link.active{
    color: #484848;
    border: none;
}

.col-12.col-sm-3.col-md-4.col-lg-3{
    margin-bottom: 0 !important;
}

.nav-search .row .col-12.col-sm-9.col-md-8.col-lg-9{
    display:inline-flex;
    justify-content: flex-end;
    padding: 0;
    width: 100%;
}

.col-12.col-sm-9.col-md-8.col-lg-9 .popularity{
    margin: auto 0;
    position: relative;
}

.col-12.col-sm-9.col-md-8.col-lg-9 .popularity > select{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px 10px 5px 10px;
    font-size: 12px;
    border-radius: 5px;
    background-color: #fff;
    outline: none;
    color: #838383;
    border: 2px solid #e5e5e5;
    width: auto !important;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}


.col-12.col-sm-9.col-md-8.col-lg-9 .popularity > select:first-child{
    margin-right: 5px;
}

.tab-content .tab-pane > .row{
    margin-top: 30px !important;
}

/* tags */

.tags{
    display: flex;
    flex: 1 0 auto;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 10px;
}

.tags > span{
    display: inline-block;
    padding: 5px 28px;
    color: #8c8c8c;
    font-size: 12px;
    background-color: #f5f5f5;
    border-radius: 30px;
    margin-right: 17px;
    margin-bottom: 11px;
    height: auto;
}

/* end tags */

/* search */

.col-12.search{
    padding: 15px;
    padding-top: 50px !important;
}

.col-12.search > input{
    border: none;
    border-radius: 30px;
    background-color: #f5f5f5;
    height: 40px;
    width: 100%;
    padding: 0 15px;
}

/* end search */

.apply-filters {
    width: 100%;
    border-radius: 10px;
    padding: 10px;
    background-color: rgb(234, 120, 50);
    color: white;
    font-weight: bold;
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    font-family: 'Open Sans';
}

/* carousel */

.col-lg-9.col-md-8 .col-12 .owl-carousel-main {
    margin: 40px 0;
    width: 100%;
    margin: 0;
}

.col-lg-9.col-md-8 .col-12 .owl-carousel-main .owl-stage-outer {
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    border-radius: 10px;
}

.col-lg-9.col-md-8 .col-12 .owl-carousel-main .owl-stage-outer .owl-stage {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.col-lg-9.col-md-8 .col-12 .owl-carousel-main .owl-stage-outer .owl-stage .owl-item {
    margin: 0 auto;
    padding: 30px;
    background-color: #fff;
    position: relative;
    flex-shrink: 0;
    width: 100%;
}

.col-lg-9.col-md-8 .col-12 .owl-carousel-main .owl-stage-outer .owl-stage .owl-item {
    padding: 0 20px;
    width: 100%;
}

.col-lg-9.col-md-8 .col-12 .owl-carousel-main .owl-stage-outer .owl-stage .owl-item .product {
    display: inline-flex;
    height: 200px;
    width: 100%;
}

.col-lg-9.col-md-8 .col-12 .product>.left-part>.row>.old-price {
    margin-left: unset;
    background-color: transparent;
    color: black;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    width: 100%;
    margin-right: 0px;
    font-size: 15px;
    justify-content: flex-start;
    height: unset;
}

.col-lg-9.col-md-8 .col-12 .owl-carousel-main .owl-stage-outer .owl-stage .owl-item .product > .left-part {
    width: 70%;
    margin: auto 0;
}

.col-lg-9.col-md-8 .col-12 .product > .left-part > h1 a {
    font-size: 50px;
    text-decoration: none;
    color: rgb(234, 120, 50);
}

.col-lg-9.col-md-8 .col-12 .owl-carousel-main .owl-stage-outer .owl-stage .owl-item .product > .right-part {
    max-width: 30%;
    margin: auto 0;
}

.col-lg-9.col-md-8 .col-12 .owl-carousel .owl-item img {
    display: block;
    max-height: 200px;
}

.col-lg-9.col-md-8 .col-12 .owl-carousel-main .owl-stage-outer .owl-stage .owl-item .product > .right-part:before {
    content: '';
    position: absolute;
    width: 92px;
    background-color: #ffc576;
    height: 200%;
    top: -80px;
    right: 80px;
    -webkit-transform: rotate(48deg);
    transform: rotate(48deg);
}