.Role table{
    min-width: 1000px;
}

.Role tbody > tr > td{
    vertical-align: middle;
    text-transform: uppercase;
}

.TdPermissionSpans {
    display: flex;
    flex-wrap: wrap;
    height: 73px;
    overflow-y: auto;
    align-items: center;
}

.Role tbody > tr:first-child  > .TdPermissionSpans {
    border: none !important;
}

.PermissionTableSpan {
    padding: 5px;
    border: 1px solid #fff;
    border-radius: 10px;
    margin: 5px;
}

.Role .button {
    background: none !important;
    background-color: red !important;
    padding: 11px 20px;
}