.select {
    padding: 10px 18px;
    border-color: #4f9ae6;
    border-radius: .4285rem;
    font-size: .75rem;
    transition: color .3s ease-in-out,border-color .3s ease-in-out,background-color .3s ease-in-out;
    height: calc(2.25rem + 2px);
    color: hsla(0,0%,100%,.8);
    background: transparent;
    -webkit-appearance: none;
    outline: none;
    width: 100%;
}

.select:focus {
    border-color: #3358f4;
}