.AdminProfile button {
    background-image: linear-gradient(0deg, #3358f4 0%, #1d8cf8 100%);
    background-size: 210% 210%;
    background-position: 100% 0;
    transition: all .15s ease;
    box-shadow: none;
    color: #fff;
    border: none;
    position: relative;
    overflow: hidden;
    margin: 4px 1px;
    border-radius: .4285rem;
    padding: 11px 40px;
    font-size: .875rem;
    line-height: 1.35em;
    display: inline-block;
    font-weight: 600;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
}

.AdminProfile button:hover,
.AdminProfile button:active,
.AdminProfile button:focus,
.AdminProfile button:active:focus,
.AdminProfile button:active:hover {
    box-shadow: 2px 2px 6px rgba(0,0,0,.4);
    transform: translateY(-1px);
    background-image: linear-gradient(0deg, #3358f4 0%, #4f9ae6 100%)!important;
    color: #fff;
    box-shadow: none !important;
}

.AdminProfile input,
.AdminProfile input:disabled {
    margin-bottom: 20px;
    padding: 10px 18px;
    border-color: #4f9ae6;
    border-radius: .4285rem;
    font-size: .75rem;
    transition: color .3s ease-in-out,border-color .3s ease-in-out,background-color .3s ease-in-out;
    height: calc(2.25rem + 2px);
    background-color: transparent;
    color: hsla(0,0%,100%,.8);
}

.AdminProfile input:focus {
    border-color: #3358f4;
    background-color: initial;
    box-shadow: none;
    color: hsla(0,0%,100%,.8);
}