.UL {
   margin: 0;
   padding: 0;
   list-style: none;
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
}

.UL>li {
   padding: 5px 15px;
   margin: 10px 10px 0px 0px;
   border: 1px solid #4f9ae6;
   border-radius: 5px;
}

.P>i,
.UL>li i {
   color: red;
   margin-left: 5px;
   cursor: pointer;
}

.radioLabel {
   margin-right: 15px;
}

.radioLabel input[type=radio] {
   margin: 0;
   padding: 0;
   height: 0;
   -webkit-appearance: none;
   -moz-appearance: none;
   appearance: none;
}

.radioLabel input:active+img {
   opacity: .9;
}

.radioLabel input:checked+img {
   -webkit-filter: none;
   -moz-filter: none;
   filter: none;
   border: 2px solid #4f9ae6;
   border-radius: .3rem;
}

.radioLabel img {
   cursor: pointer;
   height: 48px;
   width: 48px;
   -webkit-transition: all 100ms ease-in;
   -moz-transition: all 100ms ease-in;
   transition: all 100ms ease-in;
   -webkit-filter: brightness(1.8) grayscale(1) opacity(.7);
   -moz-filter: brightness(1.8) grayscale(1) opacity(.7);
   filter: brightness(1.8) grayscale(1) opacity(.7);
}

.radioLabel img:hover {
   -webkit-filter: brightness(1.2) grayscale(.5) opacity(.9);
   -moz-filter: brightness(1.2) grayscale(.5) opacity(.9);
   filter: brightness(1.2) grayscale(.5) opacity(.9);
}

.ICONS {
   max-height: 200px;
   overflow-y: auto;
}