.adminAddProduct .form-group input {
    height: calc(2.25rem + 2px);
}

.adminAddProduct .form-group input,
.adminAddProduct .form-group select {
    margin-bottom: 20px;
    padding: 10px 18px;
    border: 1px solid #4f9ae6;
    border-radius: .4285rem;
    font-size: .75rem;
    transition: color .3s ease-in-out, border-color .3s ease-in-out, background-color .3s ease-in-out;
    background-color: transparent;
    color: hsla(0, 0%, 100%, .8);
    outline: none;
}

.adminAddProduct .form-group input:focus,
.adminAddProduct .form-group select:focus {
    border-color: #3358f4;
    box-shadow: none;
    color: hsla(0, 0%, 100%, .8);
}

.adminAddProduct .form-group select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: #27293d;
}

.radioButtons,
.checkboxSizes,
.radioButtonsSizes {
    display: flex;
    flex-wrap: wrap;
}

.radioButtonContainer,
.radioButtonContainerSizes {
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    height: 25px;
    width: 25px;
    user-select: none;
}

.radioButtonContainerSizes {
    width: 40px;
    height: 40px;
    margin-right: 1rem;
}

/* Hide the browser's default radio button */
.radioButtonContainer input[type=radio] {
    position: absolute;
    left: 0px;
    height: 25px !important;
    width: 25px !important;
    margin: 0 !important;
    padding: 0 !important;
    opacity: 0;
    position: absolute;
    cursor: pointer;
}

.radioButtonContainerSizes input[type=radio] {
    position: absolute;
    left: 0px;
    height: 40px !important;
    width: 40px !important;
    margin: 0 !important;
    padding: 0 !important;
    opacity: 0;
    position: absolute;
    cursor: pointer;
}

/* Create a custom radio button */
.checkmark {
    position: absolute;
    pointer-events: none;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    border-radius: 4px;
    transition: all .3s ease-in;
}

.radioButtonContainerSizes .checkmark {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    background: #fff;
    color: #111;
}

.radioButtonContainerSizes .checkmark:before {
    font-size: 17px;
    position: absolute;
    left: 0;
    top: 0;
    padding-left: 2px;
    border-radius: 3px;
    border: 2px solid rgba(2555, 255, 255, 1);
    content: "";
    height: 100%;
    width: 100%;
}

/* On mouse-over, add a grey background color */
.radioButtonContainer:hover input[type=radio]~.checkmark,
.radioButtonContainerSizes:hover input[type=radio]~.checkmark {
    filter: brightness(60%);
    -webkit-filter: brightness(60%);
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
    content: "\f00c";
    position: absolute;
    display: none;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

/* Show the indicator (dot/circle) when checked */
.radioButtonContainer > input[type=radio]:checked~.checkmark:after {
    display: flex;
    font-weight: 900;
    font-family: 'Font Awesome 5 Free';
    align-items: center;
    justify-content: center;
    color: #111;
}

.radioButtonContainerSizes > input[type=radio]:checked~.checkmark:after  {
    display: flex;
    font-weight: 900;
    font-family: 'Font Awesome 5 Free';
    align-items: center;
    justify-content: center;
    color: #ddd;
    background-color: #7a7676c3;
    font-size: 32px;
    border-radius: 3px;
}

.radioButtonContainer input[type=radio]:checked~.checkmark.black:after,
.radioButtonContainer input[type=radio]:checked~.checkmark.blue:after,
.radioButtonContainer input[type=radio]:checked~.checkmark.mediumblue:after,
.radioButtonContainer input[type=radio]:checked~.checkmark.midnightblue:after,
.radioButtonContainer input[type=radio]:checked~.checkmark.darkblue:after,
.radioButtonContainer input[type=radio]:checked~.checkmark.indigo:after,
.radioButtonContainer input[type=radio]:checked~.checkmark.navy:after{
    color: #fff;
}

.adminAddProduct .checkbox-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-height: 300px;
    overflow-y: auto;
}

.adminAddProduct .checkbox-wrapper .checkbox {
    color: #fff;
    position: relative;
    margin: 15px 17px 0 0;
    height: 100% !important;
    width: auto !important;
}

.checkbox-wrapper .checkbox label {
    position: relative;
    padding-left: 30px;
    margin: 0;
    font-size: 13px;
    cursor: pointer;
    display: flex;
    align-items: center;
    pointer-events: none;
}

.checkbox-wrapper .checkbox label:before {
    font-size: 17px;
    position: absolute;
    left: 0;
    top: 0;
    padding-left: 2px;
    border-radius: 3px;
    border: 2px solid rgba(2555, 255, 255, 0.1);
    content: "";
    height: 20px;
    width: 20px;
}

.checkbox-wrapper .checkbox label:after {
    font-size: 17px;
    position: absolute;
    left: 0;
    top: -2px;
    padding-left: 2px;
    border-radius: 3px;
    font-weight: 900;
    font-family: "Font Awesome 5 Free";
    content: '\f00c';
    max-width: 0;
    overflow: hidden;
    opacity: 0.5;
    transition: all 0.35s ease;
    color: #4f9ae6;
}

.checkbox-wrapper .checkbox input {
    opacity: 0;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    margin: 0;
    height: 19px;
    cursor: pointer;
}

.checkbox-wrapper .checkbox input:checked+label:after {
    max-width: 25px;
    opacity: 1;
}

.checkbox-wrapper .checkbox input:checked+label:before {
    border: 2px solid #4f9ae6;
}