.Ul {
    border: 1px solid rgba(255, 255, 255, 0.489);
    padding: 5px;
    margin: 0;
    border-radius: 10px;
}

.Ul2 {
    border: 1px solid#4f9ae6;
    padding: 0px 5px;
    margin: 0;
    border-radius: .4285rem;
    transition: all .3s ease-in;
}

.Ul2 > .Input {
    margin: 0px !important;
    cursor: text;
}

.Ul > li,
.Ul2 > li {
    display: inline-block;
    padding: 2px 10px;
    padding-right: 20px;
    border: 1px solid rgba(255, 255, 255, 0.331);
    color: #fff;
    font-family: 'Helvetica, sans-serif';
    border-radius: 5px;
    margin: 5px;
    cursor: pointer;
    position: relative;
}

.Ul > li > i,
.Ul2 > li > i {
    position: absolute;
    right: 4px;
    top: 5px;
    color: red;
    margin-left: 10px;
    font-size: 14px;
}

.Input {
    outline: none !important;
    border: none !important;
    font-size: 14px;
    font-family: 'Helvetica sans-serif';
    background-color: transparent;
    color: #fff;
    cursor: pointer;
}

.List {
    max-height: 0px;
    transition: max-height .3s cubic-bezier(0,0,0,1), border .3s ease-in;
    overflow: hidden;
    border: 0px solid rgba(255, 255, 255, 0.331);
}

.List label {
    padding: 5px 10px;
    color: #fff;
    cursor: pointer;
    text-decoration: none;
    display: block;
    margin-bottom: .2rem;
}

.List label:hover {
    background-color: rgba(17, 17, 17, 0.139);
}

.Ul.Focused {
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

.Ul2.Focused {
    border-color: #3358f4;
}

.Ul.Focused ~ .List {
    max-height: 300px;
    transition: max-height .3s cubic-bezier(0,0,0,1), border .3s ease-out;
    overflow-y: auto;
    border: 1px solid rgba(255, 255, 255, 0.331);
    border-top: none;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}